*{
    margin: 0px;
    padding: 0px;
}

body{
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: #FFFFFF;
    background: #060606;
}

header {
    width:auto;
    height: 90px;
    margin: auto;
}

#icon {
    width:45px;
    position: absolute;
    top: 2.0%;
    margin-left: 80px;
    opacity: 0.7;
    border-radius: 15px;
}

#icon:hover{
    opacity: 1;
    transition: 1.0s;
}

ul{
    position: absolute;
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

nav ul{
    display: flex;
    margin-left: 60%;
    float: left;
}

nav ul li{
    float: left;
}

nav ul a{
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 0.2em 1.5em;
    text-decoration: none;
    color: #FFFFFF;
}

nav ul a:hover{
    color: #15C6BB;
}

body.home #navegacao a#home, body.conquistas #navegacao a#conquistas,
body.imagens #navegacao a#imagens
{
    color: #FFFFFF;
    background: #0B0B0B;
    cursor: text;
    border-radius: 5px;
}

.background{
    min-height: 95vh;
    width: 98vw;
    display: flex;
    position: relative;
}

.background::before{
    content: "";
    background-image: url(../imagens/octogono.png);
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

main{
    margin-top: 6%;
    height: 50vh;
    width: 58vw;
    margin-left: 50px;
}

main #titulo01{
    color: #15C6BB;
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    margin-left: 35px;
    margin-top: 30px;
}

#frase{
    font-weight: bold;
    color:#FFFFFF;
    font-size: 45px;
    position: relative;
    margin-left: 80px;
    margin-top: 50px;
}

main #titulo{
    color: #15C6BB;
    font-size: 75px;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
    text-align: center;
}

main img{
    height: 450px;
    margin-top: -290px;
    margin-left: 60vw;
    border-radius: 20px;
    position: absolute;
}


#boxBiografia{
    height: 105vh;
    max-width: auto;
}

#boxBiografia h2{
    width: 150px;
    color: #15C6BB;
    margin-top: 5%;
    text-align: left;
    margin-left: 40%;
    position: relative;
    font-size: 1.8em;
}

#img2{
    position: absolute;
    margin-left: 3%;
}

#boxBiografia p{
    margin-top: 2.5%;
    width: 55%;
    height: 80vh;
    margin-left: 40%;
    font-size: 1.4em;
    color: #FFFFFF;
    text-align:justify;
}

html{
    scroll-behavior: smooth;
}

#img3{
    max-height: 100%;
    margin-left: 12%;
    margin-block-end: -2%;
}

#boxCuriosidades{
    height: 180vh;
    border: 1px solid #060606;
}

#boxCuriosidades h2{
    color: #15C6BB;
    margin-top: 3%;
    margin-left: 80px;
    font-size: 1.8em;
}

#acoesSociais{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#acoesSociais::before{
    content: "";
    background-image: url(../imagens/oliveira.jpg);  
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

#acoesSociais h2{
    position: relative;
    color:#15C6BB;
    margin-left: 15%;
    margin-top: 3%;
}

#acoesSociais p{
    position: absolute;
    font-size: 1.1em;
    width: 22em;
    color: #FFFFFF;
    margin-left: 8%;
    margin-top: 8%;
    text-align: justify;
}

#acoesSociais{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#apelido{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#apelido::before{
    content: "";
    background-image: url(../imagens/apontando.jpg);  
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

#apelido h3{
    position: relative;
    color:#15C6BB;
    margin-left: 6.8%;
    margin-top: 2.5%;
    font-size: 1.8em;
}

#apelido p{
    position: absolute;
    font-size: 1.1em;
    width: 22em;
    color: #FFFFFF;
    margin-left: 8%;
    margin-top: 8%;
    text-align: justify;
}

#apelido img{
    position: absolute;
    height: 79%;
    margin-top: 2.5%;
    margin-left: 55%;
}

#problemaVisao{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#problemaVisao::before{
    content: "";
    background-image: url(../imagens/charlesFundo.jpg);  
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

#problemaVisao h4{
    position: relative;
    color:#15C6BB;
    margin-left: 12%;
    margin-top: 2.5%;
    font-size: 1.8em;
}

#problemaVisao p{
    position: absolute;
    font-size: 1.1em;
    width: 22em;
    color: #FFFFFF;
    margin-left: 8%;
    margin-top: 8%;
    text-align: justify;
}

#problemaVisao img{
    position: absolute;
    height: 79%;
    margin-top: 3%;
    margin-left: 50%;
}

.slider{
    margin-top: 3%;
    margin-left: 29%;
    width: 300px;
    height: 80%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.slides{
    width: 400%;
    height: 80%;
    display: flex;
}

.slides input{
    display: none;
}

.slideprimeira{
    width: 50%;
    position: relative;
    transition: 2s;
}

.slide{
    width: 50%;
    position: relative;
    transition: 2s;
}

.manualNavegacao{
    display: flex;
    position: absolute;
    width: 330px;
    margin-top: 80%;
    margin-left: 45%;
    display: flex;
    align-items: center;
}

.manualBtn{
    border: 2.5px solid #15C6BB;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.manualBtn:not(:last-child){
    margin-right: 20px;
}

.manualBtn:hover{
    background-color: #15C6BB;
}

#radio1:checked ~ .slideprimeira{
    margin-left: 0;
}

#radio2:checked ~ .slideprimeira{
    margin-left: -50%;
}

.navegacao div{
    border: 2.5px solid #15C6BB;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.navegacao{
    position: absolute;
    width: 330px;
    margin-top: 80%;
    margin-left: 45%;
    display: flex;
    align-items: center;
}

.navegacao div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navegacao .btn1{
    background-color: #15C6BB;
}

#radio2:checked ~ .navegacao .btn2{
    background-color: #15C6BB;
}