*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: #FFFFFF;
    background: #060606;
}

#container {
    width:auto;
    height: 90px;
    margin: auto;
}

#topo {
    width:45px;
    position: absolute;
    top: 2.0%;
    margin-left: 80px;
    opacity: 0.7;
    border-radius: 15px;
}

#topo:hover{
    opacity: 1;
    transition: 1.0s;
}

ul{
    position: absolute;
    margin-top: 30px;
    margin: 5;
    padding: 0;
    list-style: none;
}

#container ul{
    margin-left: 660px;
    float: left;
}

#container ul li{
    float: left;
}

#container ul a{
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 0.2em 1.5em;
    text-decoration: none;
    color: #FFFFFF;
}

#container ul a:hover{
    color: #15C6BB;
}

body.home #navegacao a#home, body.conquistas #navegacao a#conquistas,
body.imagens #navegacao a#imagens
{
    color: #FFFFFF;
    background: #0B0B0B;
    cursor: text;
    border-radius: 5px;
}

.background{
    width: auto;
    min-height: 90vh;
    display: flex;
    position: relative;
}

.background::before{
    content: "";
    background-image: url(imagens/octogono.png);
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

#box2 .titulo{
    color: #15C6BB;
    font-size: 75px;
    font-weight: bold;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
    text-align: center;
}

#box2 .titulo01{
    color: #15C6BB;
    font-size: 75px;
    font-weight: bold;
    font-weight: bold;
    position: absolute;
    margin-left: 35px;
    margin-top: 30px;
}

#frase{
    font-weight: bold;
    color:#FFFFFF;
    font-size: 45px;
    position: relative;
    margin-left: 80px;
    margin-top: 50px;
}

#box2{
    margin-top: 90px;
    height: 350px;
    width: 790px;
    margin-left: 50px;
    float: left;
}

#img1{
    height: 450px;
    margin-top: 30px;
    margin-left: 0%;
    position: relative;
    border-radius: 20px;
}

#box3{
    height: 105vh;
}

#boxBiografia{
    width: 150px;
    color: #15C6BB;
    margin-top: 5%;
    text-align: left;
    margin-left: 40%;
    position: relative;
    font-size: 1.8em;
}

#img2{
    position: absolute;
    margin-left: 3%;
}

#textoBiografia{
    margin-top: 2.5%;
    width: 55%;
    height: 80vh;
    margin-left: 40%;
    font-size: 1.4em;
    color: #FFFFFF;
    text-align:justify;
}

html{
    scroll-behavior: smooth;
}

#img3{
    max-height: 100%;
    margin-left: 12%;
    margin-block-end: -2%;
}

#box4{
    height: 180vh;
    border: 1px solid #060606;
}

#boxCuriosidades1{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#boxCuriosidades1::before{
    content: "";
    background-image: url(imagens/oliveira.jpg);  
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

#h2Curiosidades{
    color: #15C6BB;
    margin-top: 3%;
    margin-left: 80px;
}

#curiosidades1{
    position: relative;
    color:#15C6BB;
    margin-left: 13%;
    margin-top: 2%;
}

#boxCuriosidades1 p{
    position: absolute;
    font-size: 1.1em;
    width: 22em;
    color: #FFFFFF;
    margin-left: 4%;
    margin-top: 8%;
}

#boxCuriosidades1{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#boxCuriosidades2{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#boxCuriosidades2::before{
    content: "";
    background-image: url(imagens/apontando.jpg);  
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

#curiosidades2{
    position: relative;
    color:#15C6BB;
    margin-left: 6%;
    margin-top: 2%;
}

#boxCuriosidades2 p{
    position: absolute;
    font-size: 1.1em;
    width: 22em;
    color: #FFFFFF;
    margin-left: 4%;
    margin-top: 8%;
}

#img6{
    position: absolute;
    height: 79%;
    margin-top: 3%;
    margin-left: 50%;
}

#boxCuriosidades3{
    height: 50vh;
    margin-top: 2.5%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    position: relative;
}

#boxCuriosidades3::before{
    content: "";
    background-image: url(imagens/charlesFundo.jpg);  
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
}

#curiosidades3{
    position: relative;
    color:#15C6BB;
    margin-left: 11%;
    margin-top: 2%;
}

#boxCuriosidades3 p{
    position: absolute;
    font-size: 1.1em;
    width: 22em;
    color: #FFFFFF;
    margin-left: 4%;
    margin-top: 8%;
}

#img7{
    position: absolute;
    height: 79%;
    margin-top: 3%;
    margin-left: 50%;
}

.slider{
    margin-top: 3%;
    margin-left: 29%;
    width: 300px;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 400%;
    height: 80%;
    display: flex;
}

.slides input{
    display: none;
}

.slideprimeira{
    width: 50%;
    position: relative;
    transition: 2s;
}

.slide{
    width: 50%;
    position: relative;
    transition: 2s;
}

.manualNavegacao{
    position: absolute;
    width: 330px;
    margin-top: 30px;
    margin-left: 45%;
    display: flex;
    align-items: center;
}

.manualBtn{
    border: 2.5px solid #15C6BB;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.manualBtn:not(:last-child){
    margin-right: 20px;
}

.manualBtn:hover{
    background-color: #15C6BB;
}

#radio1:checked ~ .slideprimeira{
    margin-left: 0;
}

#radio2:checked ~ .slideprimeira{
    margin-left: -50%;
}

.navegacao div{
    border: 2.5px solid #15C6BB;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.navegacao{
    position: absolute;
    width: 330px;
    margin-top: 240px;
    margin-left: 45%;
    display: flex;
    align-items: center;
}

.navegacao div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navegacao .btn1{
    background-color: #15C6BB;
}

#radio2:checked ~ .navegacao .btn2{
    background-color: #15C6BB;
}